<link href="~/css/Jogo.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Jogos";
}


<div class="modal-body">
    <!-- Project details-->
    <h2 class="text-uppercase">Red Dead Redemption 2</h2>
    <p class="item-intro text-muted">Generos</p>
    <img class="img-fluid d-block mx-auto" src="~/Img-jogos/reddead2.jpg" alt="..." />
    <div class="text">
        <p> 
            Red Dead Redemption é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar San Diego e publicado pela Rockstar Games. Lançado em maio de 2010 para PlayStation 3 e Xbox 360, é um sucessor espiritual de Red Dead Revolver lançado em 2004.
            O jogo se passa em 1911 durante o declínio do Velho Oeste e segue a história de John Marston, um antigo fora-da-lei cuja esposa e filho são tomados como reféns pelo governo para forçá-lo a trabalhar como seu caçador contratado. Sem escolhas, Marston parte em uma jornada para levar três membros de sua antiga gangue até a justiça.
            A jogabilidade é apresentada através de uma perspectiva em terceira pessoa dentro de um mundo aberto, permitindo que o jogador interaja com os diferentes elementos da maneira como desejar. O mundo em si é uma versão ficcional da região oeste dos Estados Unidos e do noroeste do México, que o jogador pode atravessar principalmente a pé ou montado em cavalos.
            Red Dead Redemption também possui um sistema de moralidade, em que as ações do jogador afetam seus níveis de honra e fama e como outros personagens respondem ao protagonista. Um modo multijogador online está incluso no jogo, permitindo que até dezesseis jogadores entrem em partidas cooperativas ou competitivas em recriações dos ambientes do modo um jogador.
            </p>
        <p>
            <strong>Desenvolvedora:</strong>
                    Rockstar Games
        </p>
    </div>
        <a href="/Home">
            <button class="btn btn-primary btn-xl text-uppercase"  type="button">
                <i class="fas fa-xmark me-1"></i>
                Fechar
            </button>
        </a>
</div>