@{
    ViewData["Title"] = "Home Page";
}

<!-- Portfolio Grid-->
        <section class="page-section bg-dark" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                @foreach (var jogos in Model)
                {
                    
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href=".portfolio-modal">
                                <div class="portfolio-hover">
                                </div>
                                <img class="img-fluid" src="~/assets/Img-jogos/reddead2.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Red Dead Redamption 2</div>
                                <div class="portfolio-caption-subheading text-muted">tipos</div>
                            </div>
                        </div>
                    </div>
                    
                }

                </div>
            </div>
        </section>

